
treechildren::-moz-tree-checkbox {
    /* css for checked cells */
    list-style-image: url("chrome://gipsy/content/cbox-uncheck.png");
}

treechildren::-moz-tree-checkbox(checked){
    /* css for checked cells */
    list-style-image: url("chrome://gipsy/content/cbox-check.png");
}

.tab-closebut {
	list-style-image: url("chrome://global/skin/icons/close.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	-moz-appearance: none;
	border: none;
}

.tab-closebut:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.tab-closebut:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}


.tab-closebut > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  -moz-padding-end: 2px !important;
  -moz-padding-start: 2px !important;
}

treechildren::-moz-tree-row(scheduled) {
  background-color: #f0f0a0;
}

treechildren::-moz-tree-row(scheduled, selected) {
  background-color: lightgrey;
}

treechildren::-moz-tree-row(scheduled, selected, focus) {
  background-color: Highlight;
}

#map-status {
    background: #ebf0f4;
    color: #346b8f;
    font-size: 7pt;
    padding-top: 2px;
    padding-bottom: 2px;
}

#map-status span, #map-status strong {
    display: block;
    float: left;
    white-space: nowrap;
}

#map-status span {
    padding-left: 3px;
    padding-right: 2px;
}

#map-status strong {
    border: 1px inset black;
    padding-right: 2px;
    text-align: right;
    height: 2.7ex;
    vertical-align: middle;
}

#prof-alt { width: 40px; color: #ff7901;background-color: white;}
#prof-vario { width: 45px; color: maroon;background-color: #ffff66;}
#prof-speed { width: 55px; color: black;background-color: #ffccb2;}
#prof-time { width: 70px; background-color: white;}
